@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(45, 45, 55);
}
.container {
  width: 40vw;
  height: 100%;
  margin: 0px auto;
}
/* ====================Header======================= */

#header {
  height: 200px;
  padding: 10px;
  text-shadow: 2px 4px rgb(42, 42, 43);
  width: 100%;
}
#header h1 {
  font-size: 4rem;
  text-align: center;
  color: #fff;
  margin: 20px;
}
#header .date {
  text-shadow: none;
  color: white;
  padding: 10px;
  background-color: #000000;
  width: 100%;
}
.date p {
  text-align: right;
  font-size: 1.25rem;
  margin: 0;
  width: 100%;
}
/* ======Navigation Container====== */

.header-btn {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  margin-right: 20px;
}

#navContainer button {
  list-style-type: none;
  color: whitesmoke;
  border: 2px solid white;
  height: 65px;
  width: 200px;
  font-size: 1.25rem;
  align-items: center;
  cursor: pointer;
  background-color: rgb(42, 42, 43);
  padding: 10px;
  margin: 10px;
}

/* ==================Main=========================== */

/* ===============Page 1 =============== */

/* ======Layout ===== */

#page1 {
  display: block;
  width: 100%;
  height: auto;
  margin: 0px auto;
  background-color: rgb(45, 45, 55);
}
.inputPage1 {
  margin: 20px;
  padding: 10px;
  font-size: 1.5rem;
  align-content: space-between;
  list-style: none;
  overflow-y: auto;
}
li {
  display: inline-block;
  margin: 0;
  padding: 0;
  /* float: right; */
}
/* label {
  margin: 0 0 4px;
  color: #fff;
  padding: 12px 12px 12px 0;
  display: inline-block;
} */
input {
  background-color: rgb(45, 45, 55);
  color: #fff;
  font-size: 1.25rem;
  height: 50px;
  width: 300px;
  margin-left: 40px;
  padding: 10px;
}

/* ===========Calculation Button============ */

#calBtn {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  background-color: rgb(64, 184, 104);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  height: 60px;
}
#claBtn:hover {
}
/* ===============Page 2 =============== */

#page2 {
  display: block;
  width: 100%;
  height: auto;
  margin: 0px auto;
  background-color: rgb(83, 83, 83);
}

#page2 h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 4rem;
}

/* ===============Page 3 =============== */

#page3 {
  display: block;
  width: 100%;
  height: auto;
  margin: 0px auto;
  background-color: rgb(83, 83, 83);
}

#page3 h2 {
  text-align: left;
  margin-top: 100px;
  font-size: 4rem;
  color: white;
  font-weight: 600;
  padding: 10px;
}
.inputPage3 {
  position: absolute;
  top: 50%;
  width: 80%;
  text-align: center;
  font-size: 2rem;
}
#input-date {
  font-size: 2rem;
}
#page3 p {
  margin: auto;
  width: 50%;
  border: 3px solid grey;
  padding: 10px;
  text-align: center;
}
@media screen {
}

/* =========================TO DO LIST =========================== */
/* Responsive screen  */
/* Media Querry  */
/* Complete Average GBP page */
/* Gold prices  */
/* Background image to be added  */
